<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Gym Programs</title>
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous">
			
		<style>
			body {
			  margin: 0;
			  padding: 0;
			  font-family: sans-serif;
			  background-image: url("../images/welcome.jfif");
			  background-size: 200vh;
			  }
			  
		</style>
	</head>
	
	<body>
		<header>
			<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			  	<!-- Brand -->
			  	<a class="navbar-brand" href="#"> Dashboard</a>
	
			  	<!-- Toggler/collapsibe Button -->
			  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    	<span class="navbar-toggler-icon"></span>
			  	</button>
			
			 	<!-- Navbar links -->
			  	<div class="collapse navbar-collapse" id="collapsibleNavbar">
			   		<ul class="navbar-nav">
			      		<li class="nav-item">
			        		<a class="nav-link" th:href="@{/users/home}">Home</a>     
			      		</li>
			      		<li class="nav-item">
			       			<a class="nav-link" th:href="@{/users/profile}">Profile</a>        
			      		</li>
			      		<li>
							<a class="nav-link" th:href="@{#}">Logout</a>
				  		</li>
				  		<li>
					      	<a class="nav-link" th:href="@{/users/payments}">Payments</a>
					    </li>
			    	</ul>
			  	</div>
			</nav>
			<br>
			<br>
		</header>
	
		<main>
			<div class = "container">
				<div class = "row">
					<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
						<h1 class = "text-center"> <hr>Profile <hr> </h1>
						<div class = "row">
						
						<div class = "card-body" th:object="${users}">
							<label> Username: </label> <label th:text = "${users.name}"></label><br>
							<label> Password: </label> <label th:text = "${users.password}"></label><br>
							<label> Gender: </label> <label th:text = "${users.gender}"></label><br>
							<label> Age: </label> <label th:text = "${users.age}"></label><br>
							<label> Date of join: </label> <label th:text = "${users.join_date}"></label><br>
							<label> Membership end date: </label> <label th:text = "${users.membership_end_date}"></label><br>
							<label> Address: </label> <label th:text = "${users.address}"></label><br>
							<label> Membership Status: </label> <label th:text = "${users.member_status}"></label><br>
							<div class = "col-lg-0">
								<a th:href = "@{/users/profile/{id}(id=${users.user_id})}" class = "btn btn-primary btn-sm mb-3"> Edit Profile</a>
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
